body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(242, 236, 248);
    margin: 0;
    padding: 20px;
}
  
/* Headings */
h1 {
    color: rebeccapurple;
}

h2 {
    font-weight: 400;
    color: #333;
    margin-bottom: 20px;
}

/* Fonts */
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
}

.poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
}

/* Chat Box Styling */
#chat-box {
    border: 1px solid #ccc;
    background-color: white;
    height: 500px;
    width: 70vwx; /* 70 % of viewport */
    max-width: 100%; /* Ensure it doesn't go beyond the viewport */
    overflow-y: auto;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

/* Chat message wrapper */
.chat-message {
    display: flex;
    margin: 10px 0;
    max-width: 70%;
}

/* Bot messages */
.bot-message {
    justify-content: flex-start;
}

.bot-message p {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px 14px;
    border-radius: 12px;
    border-top-left-radius: 0;
    text-align: left;
}

/* User messages */
.user-message {
    justify-content: flex-end;
    margin-left: auto;
   
}

.user-message p {
    background-color: #e6dcf5;
    color: #333;
    padding: 10px 14px;
    border-radius: 12px;
    border-top-right-radius: 0;
    text-align: right;
}

/* Button Styling */
button {
    color: white;
    height: 36px;
    width: 250px;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    background-color: rebeccapurple;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(65, 33, 97);
}

button:active {
    background-color: rgb(35, 18, 52);
}
