<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title class="poppins-semibold">Voice Assistant Alice</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  
  <!-- Styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

  <!-- Icons -->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://kit.fontawesome.com/fb25c25d2f.js" crossorigin="anonymous"></script>
</head>
<body>

  <center>
    <h1><i class="fa-solid fa-robot"></i> Voice Assistant Alice</h1>
    <h2>Hi, I'm Alice - Your restaurant assistance ✨</h2>

    <div id="chat-box"></div>

    <button id="record-btn" class="poppins-medium">
      <i class="fa-solid fa-circle-play"></i> Start conversation
    </button>
  </center>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
